<div class="row my-3 mx-0 mx-md-3 justify-content-center">
    <div class="card sub-card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">{{ department.code }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ department.name }}</h6>
            <a href="{{ url_for('reviews.courses', department_id=department.id)}}">{{ department.courses|length }} Courses</a><br>
            <a href="{{ url_for('reviews.professors', department_id=department.id)}}">{{ department.professors|length }} Professors</a>
        </div>
    </div>
</div> 
