<div class="container">
    <div class="row team-row d-flex">
        <div class="d-none d-sm-flex col-12 col-sm-3 justify-content-center align-items-center">
            <img src="{{ img_path }}" class="rounded-circle" style="max-height: 17vh;"></img>
        </div>
        <div class="d-flex d-sm-none col-12 col-sm-3 align-items-center pb-4">
            <img src="{{ img_path }}" class="rounded-circle" style="max-height: 14vh;"></img>
        </div>
        <div class="col-9 d-flex align-items-center">
            <div class="container">
                <h4>{{ name }}</h4>
                <h5>{{ title }}</h5>
                <p>{{ desc }}</p>
            </div>
        </div>
    </div>
</div>
